@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap');

:root {
    --col-1: #F5EFE7;
    --col-2: #D8C4B6;
    --col-3: #4F709C;
    --col-4: #213555;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

section{
    padding: 3% 3%;
    
}

header {
    background-color: var(--col-4);
    flex-grow: 0;
    max-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 8%;
}

.logo {
    text-decoration: none;
    color: var(--col-2);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5rem;
}

.nav a {
    color: var(--col-2);
    font-size: 1rem;
    font-weight: 500;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 3px solid transparent;
}

.nav a:hover {
    color: var(--col-3);
    border-bottom: 3px solid var(--col-3);
}

.btn-l {
    text-decoration: none;
    color: var(--col-2);
    font-weight: 400;
    padding: 0.5rem;
    border-right: 2px solid var(--col-2);
    border-left: 2px solid var(--col-2);
    border-radius: 20px;
    transition: 0.4s;
}

.btn-l:hover{
    color: var(--col-3);

}
.main {
    background-image: url(imges/webBackgroundE121.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    overflow: hidden;
    height: 90VH;
    display: block;
    flex-grow: 0;
    align-items: flex-end;
    justify-content: center;
    
}

.main .con {
    display: block;
    flex-basis: 70%;
    justify-content: space-between;
    align-items: flex-end;
    /* gap: 50px; */
}

.main h2 {
    color: var(--col-3);
    font-size: 1.3em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 2%;
    color: var(--col-2);
    font-size: 1.7em;
    font-weight: 600;
}



.btn {
    color: aliceblue;
    background-color: var(--col-3);
    text-decoration: none;
    font-size: 0.7rem;
    font-weight: 600;
    display: inline-block;
    padding: 2% 4%;
    letter-spacing: 1px;
    border-radius: 20px;
    margin-bottom: 2%;
    margin-top: 2%;
    transition: 0.7s ease;
}

.btn:hover {
    transform: scale(1.1);
}

.social-icon a {
    text-decoration: none;
    color: var(--col-2);
    font-size: 1em;
    margin-right: 2%;
    padding-left: 1%;
}

.social-icon a:hover {
    color: var(--col-3);
}

.text {
    margin: 4rem;
}

ul {
    list-style: none;
    display: flex;
}

.mix {
    flex-shrink: 0;
    position: relative;
    display: inline-block;
}

.photo {
    display: block;
    width: 91%;
    height: auto;
    margin-bottom: -1.9rem;
    position: relative;
    z-index: 2;
}
.bng {
    position: absolute;
    top: 7rem;
    left: 3rem;
    width: 70%;
    height: 70%;
    background-color: var(--col-3);
    border-radius: 30% 70% 52% 48% / 32% 35% 65% 68%;
    z-index: 1;
}

.title{
    display: flex;
    justify-content: center;
    color: var(--col-4);
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 3%;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.carts-content{
    background-color: var(--col-4);
}
.cart{
    background-color: var(--col-1);
    box-shadow: 0 5px 25px rgba(236, 160, 102, 0.15);
    width: 70%;
    border-radius: 30px;
    padding: 3%;
    margin: 1%;
    transition: 0.7s ease;
}
.cart:hover{
    transform: scale(1.1);
}
.carts-content{
    height: 100vh;
}
.cart1{
    background-color: var(--col-1);
    width: 90%;
    box-shadow: 0 5px 25px rgba(1,1,1, 15%);
    border-radius: 30px;
    padding: 4%;
    margin: 1%;
    transition: 0.7s ease;
}
.cart1:hover{
    transform: scale(1.1);
    
}
.about{
    background-color: var(--col-2);
    height: 100vh;
}
.carts{
    background-color: var(--col-2);
}
.icon{
    color: var(--col-4);
    font-size: 5em;
    text-align: center;
}
.inf{
    font-size: 1.5em;
    text-align: center;
}
.cart.info h3{
    display: flex;
    color: var(--col-3);
    font-size: 0.5em;
    font-weight:600 ;
    margin: 1%;
    padding: 1%;
    text-align: center;
    justify-self:center;
    justify-content: center;
    padding-right: 20px;
    border-right: 2px solid var(--col-4);
    border-left: 2px solid var(--col-4);
    border-radius:30px ;
    background-color: var(--col-1);
    width:max-content ;
}
.projects{
    background-color: var(--col-1);
    width: 100%;
    height:max-content;
}
.projects .content{
    margin-top: 0px;
}

.pro-cart{
    background-color: var(--col-2);
    border-right:3px solid var(--col-4);
    height:max-content ;
    width: 44rem; 
    overflow: hidden;
    border-radius:10px;
    margin: 30px;
    padding: 10px;
    transition: 0.7s ease;
}
.pro-cart:hover{
    transform: scale(1.1);
}
.pro-cart:hover .pro-img{
    opacity:0.9;
}
.pro-img img{
    border:3px solid var(--col-1);
    width: 25%;
    border-radius: 15px;
    margin-top: -15%;
    margin-left: 0%;

}
.pro-cat{
    font-size: 1em;
    padding-right:35%;
    padding-bottom: 20px;
    color: var(--col-4);
}
.pro-title{
    text-align: center;
    padding:16%;
    font-size: 1.5em;
    font-weight: 600;
    margin: 5%;
    padding:5% ;
    padding-bottom:10% ;
}
.pro-info p{
    margin-right: 8%;
    padding-left:20% ; 
    color: #213555;
}
.pro-info{
    padding-right: 0%;
    margin-left:20% ;
    border: 5px solid var(--col-1);
    box-shadow: #eccfaa;
    border-radius: 10px;
}
.more-detils{
    padding: 1%;
    margin-left: 70%;
    margin-top: 5%;
    background-color: var(--col-3);
    text-decoration: none;
    border-radius: 10px;
    display: flex;
    text-align: center;
    padding-left:1%;
    justify-content: center;
    font-size: 0.8em;
    color: var(--col-2);
}
.social-icon2 {
    text-align:start;
}
.social-icon2 a {
    text-align: center;
    text-decoration: none;
    color: var(--col-2);
    font-size: 1em;
    padding-right: 1%;
    margin-left: 2%;
}
.social-icon2 a:hover {
    color: var(--col-3);
}
.more-detils:hover{
    color: var(--col-1);
}
.content .icon{
    font-size: 1.5rem;
}
.content .info h3{
    font-size: 1.3rem;
    color: var(--col-4);
    padding: 2%;
    padding-bottom: 2%;
}
.content .info p{
    font-size: 1rem;
    
}
.carts-content{
    height: 80vh;
}
.carts-content .title{
    color: var(--col-2);
}
.carts-content p{
    font-size: 90%;
}
.cart2{
    background-color: var(--col-2);
    height: 8rem;
    width: 20em;
    text-align: center;
    overflow: hidden;
    border-radius:15px;
    margin: 30px;
    padding: 20px;
    transition: 0.7s ease;
}
.cart2 a{
    text-decoration: none;
    color: var(--col-4);
}
.cart2 a:hover{
    pointer-events: painted;
    color: var(--col-3);
}
.footer{
    background-color: var(--col-4);
    color: var(--col-1);
    padding: 15px;
    justify-content: space-between;
}
.footer-title{
    text-align: center;
    margin-bottom: 3%;
    font-size: 1em;
    font-weight: 600;
}
.footer-title span{
    color: var(--col-2);
}

@media (max-width:320px) {
    .main{
        height: 100vh;
    }
    .social-icon{
        display: block;
        padding-right: 1%;
    }
    .text{
        font-size: 0.7rem;
        margin-top:50%;
    }
        .footer-title{
            text-align: center;
        }
        .social-icon2{
            text-align: center;
        }
        .footer-title{
            text-align: center;
        }
}
@media (max-width:375px) {
    .main{
        height: 100vh;
    }
    .social-icon{
        padding-right: 1%;
    }
    .social-icon2{
        text-align: center;
    }
    .footer-title{
        text-align: center;
    }
}
@media (max-width:426px) {
    .nav {
        display: none;
    }
    .main{
        background-image: url(imges/PHONE3E.png);
        height: 100vh;
    }
    .text{
        font-size: 0.6rem;
        margin: 0%;
        margin-left: 10%;
    }
    p{
        text-align: center;
    }
    .btn{
        padding: 3% 6%;
        font-size: 0.3rem;
    }
    .social-icon2{
        display: block;
        text-align: center;
    }
    .social-icon2 a{
        padding-right: 3%;
    }
    .footer-title{
        text-align: center;
    }
}
@media (max-width:768px) {
    .main{
        overflow: hidden;
        padding: 0%;
    }
    .text{
        margin-top: 20%;
    }
    .logo{
        font-size: 1rem;
    }
    .nav a{
        font-size: 0.7rem;
    }
    .social-icon a{
        padding-right: 5%;
    }
    .about{
        height: max-content;
    }
    .carts-content{
        height: max-content;
    }
    .footer{
        height: min-content;
    }
    .social-icon2{
        text-align: center;
    }
    .footer-title{
        text-align: center;
    }
    
}


/* Media query for phones */
@media only screen and (max-width: 800px) {
    /*.nav {
        display: none;
    }
    .logo {
        font-size: 1.2rem;
    }
    .btn-l {
        font-size: 0.9rem;
    }

    .main {
        
        height: max-content;
        align-items:center;
    }

    .main .con {
        flex-basis: auto;
    }

    .main h2 {
        font-size: 0.9em;
    }

    .main h2 span {
        font-size: 1.2m;
    }

    .main h3 {
        font-size: 1.2em;
    }

    
    .main img {
        height: 20rem;
        margin-top: 40%;
        margin-left: 20%;
    }

    .bng{
        margin-left: 13%;
        margin-top: 19%; 
        height: 15rem;   
    }

    .main .text {
        margin-bottom: 30px;
    }

    .btn {
        font-size: 0.9rem;
        padding: 6% 7%;
        margin-bottom: 10px;
    }
    .text {
        margin: 2rem;
    }

    .social-icon a {
        padding-left: 0.1rem;
        font-size: 0.7rem;
        margin-left: 0;
    }*/
    .about , .carts-content{
        height: max-content;
    }
    section{
        width: 100%;
        overflow: hidden;
        height: max-content;
    }
    .cart{
        margin-bottom: 3%;
    }
    .pro-title{
        display: block;
    
    }
    .pro-cart .info{
        padding: 20%;
        
    }
    .pro-cart{
        height: max-content;
    }
    .pro-cart a{
        margin-bottom: 6rem;
    }
    .pro-cart p{
        margin: 1%;
        padding: 0%;
    }
    .pro-img{
        margin-top: rem;
        margin-right: rem;
        width: 35rem;
    }
    .more-detils{
        width: 5rem;
        margin: 3%;
        padding: 6%;
    }
    .pro-info{
        padding: 0%;
        justify-content: space-between;
    }
    .cart2{
        height: max-content;
    }
    .footer-title{
        font-size: 4%;
    }
    .carts-content h1{
        text-align: center;
    }
    .social-icon a{
        padding-right: 0.7rem;
    }
    .carts-content{
        height: max-content;
    }
    .social-icon2{
        text-align: center;
    }
    .footer-title{
        text-align: center;
    }
}
@media  (max-width: 1024px) {
    body {
        font-size: 16px;
    }
    .social-icon2{
        text-align: center;
    }
    .footer-title{
        text-align: center;
    }
}
@media (min-width: 1025px) {
    body {
        font-size: 18px;
    }
    .social-icon2{
        text-align: center;
    }
    .footer-title{
        text-align: center;
    }
}

